<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="common/layout :: allHead" >
  
</head>

<body>
<script th:src="@{js/messageScript.js}"></script>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top" th:replace="common/layout :: allNav">
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfolio Details</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li>Portfolio Details</li>
          </ol>
        </div>

      </div>
    </section><!-- Breadcrumbs Section -->

    <!-- ======= Portfolio Details Section ======= -->
    <section class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container" >

          <div class="owl-carousel portfolio-details-carousel"  >
             <img id="portfolioImg" src="assets/img/portfolio/logo3.jpg" class="img-fluid" alt="" >
            <img id="portfolioImg" src="assets/img/portfolio/logo4.jpg" class="img-fluid" alt=""  >
            <img id="portfolioImg" src="assets/img/portfolio/nice.jpg" class="img-fluid" alt="" >
          </div>

          <div class="portfolio-info">
            <h3>Project Information</h3>
            <ul>
              <li><strong>Category</strong>: Web development</li>
              <li><strong>Client</strong>: Majesty Event</li>
              <li><strong>Project date</strong>: October, 2018</li>
              <li><strong>Project URL</strong>: <a href="#">www.majestyevents.com</a></li>
            </ul>
          </div>

        </div>

        <div class="portfolio-description">
          <h2>Portfolio Detail One</h2>
          <p>
            Portfolio One
          </p>
        </div>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <div class="alertTwo container col-sm-6" role="alert" style="padding: 20px; text-align: center;"> </div>
  <footer id="footer" th:replace="common/layout :: allFooter"  >
  </footer>
  <!--End Footer--> 

  <div th:replace="common/layout :: buttomScript">
  </div>
 

 

</body>

</html>